.poker-table {
  margin-top: 10vh;
  background-image: url(/assets/pockerbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  width: 950px;
  border-radius: 35em;
  border: 20px solid #191515;
  position: relative;
}